h1{
    /* color:#0000EE;  */
   font-size: 50px;
   font-family: sans-serif;
   text-align:center;
   padding: 3rem 3rem;
   color: #fff;
   border-radius: 100vh;
   
  
 
}

body{
margin: 0;
}
.header{
    background-image: -webkit-linear-gradient(right, #9be15d 0%, #00e3ae 100%);
    background-image:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,22,180,1) 26%, rgba(0,212,255,1) 100%);
    height: 250;

}
nav{
    width: 100%;
    height: 70px;
    background-color: dimgray;
    padding-top: 5px;
    box-sizing: border-box;
  }
  ul{
    display: flex;
  }
  li{
    list-style: none;
  }
  a{
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
  }
h2{
    color: black;
    text-align:center;
    padding:60px 20;
    margin: 0;
    font-family: sans-serif;
}
.main{
    height: 150;
    background-color:#deb887;
}
.content{
    flex: 1;
    background-color: #eee;
    text-align: center;
    margin-top: 10px;
    
    
}
p {
   color:black;
   font-size:20px;
   margin: 0;
   padding:50px;
   /* line-height : 2; */
   /* margin-bottom : 10em ;  */
   background-color:#ffefd5;
   /* margin: 0; */
   text-align:center;
}
/* img.penkmi.jpg {
    width: 100px;
    height: 100px; */
    /* max-width: 480px; */

.footer{
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 30px 0;   
}

